[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
